altair==4.2.0
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
bio==1.3.3
biopython @ file:///Users/runner/miniforge3/conda-bld/biopython_1636053445374/work
biothings-client==0.2.6
black==21.12b0
bleach==4.1.0
blinker==1.4
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1636012310340/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.0.0
cairocffi==1.3.0
CairoSVG==2.5.2
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1636046182160/work
chardet==4.0.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1641584610847/work
click==8.0.3
cryptography @ file:///opt/concourse/worker/volumes/live/732d2752-e4cb-4715-726b-56d890f169fb/volume/cryptography_1639414586414/work
cssselect2==0.4.1
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.3
executing==0.8.2
gitdb==4.0.9
GitPython==3.1.26
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1637964023743/work
idna==2.10
importlib-resources==5.4.0
ipykernel==6.7.0
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
Jinja2==3.0.3
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
lxml==4.6.5
MarkupSafe==2.0.1
matplotlib==3.3.4
matplotlib-inline==0.1.3
matplotlib-venn==0.11.6
mistune==0.8.4
mmcif-pdbx==0+untagged.16.g90d39b2.dirty
mygene==3.2.2
mypy-extensions==0.4.3
nbclient==0.5.10
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.8
numpy==1.21.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging==21.3
pandas @ file:///Users/mitchellparker/Library/Caches/pypoetry/artifacts/ef/f3/02/fee7cca85e0081b5342c2e537d6f5ed6264c2749c11b23ab96d1f895dd/pandas-1.4.0-cp38-cp38-macosx_10_9_x86_64.whl
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pdb2pqr @ file:///home/conda/feedstock_root/build_artifacts/pdb2pqr_1640746675399/work
pendulum==2.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
pkginfo==1.8.2
platformdirs==2.4.1
Pmw==2.0.1
prometheus-client==0.13.0
prompt-toolkit==3.0.24
propka @ file:///Users/runner/miniforge3/conda-bld/propka_1636253306190/work
protobuf==3.19.3
ptyprocess==0.7.0
pure-eval==0.2.2
py3Dmol==1.8.0
pyarrow==6.0.1
pycollada @ file:///home/conda/feedstock_root/build_artifacts/pycollada_1636803699897/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydeck==0.7.1
pyfiglet==0.8.post1
Pygments==2.11.2
pykerberos @ file:///Users/runner/miniforge3/conda-bld/pykerberos_1635849043925/work
pymol==2.5.2
Pympler==1.0.1
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing==3.0.7
pyrsistent==0.18.1
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1635862551662/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
pyzmq==22.3.0
rdkit-pypi==2021.9.4
readme-renderer==32.0
requests==2.25.1
rfc3986==2.0.0
scipy==1.6.2
seaborn==0.11.1
Send2Trash==1.8.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.0
stack-data==0.1.4
statannot==0.2.3
statsmodels @ file:///Users/mitchellparker/Library/Caches/pypoetry/artifacts/b2/b4/fd/886b65652bc2b111ce868c13f09a364a278de3645622024c3e85c6417d/statsmodels-0.13.1-cp38-cp38-macosx_10_15_x86_64.whl
stmol==0.0.7
streamlit==1.4.0
terminado==0.12.1
testpath==0.5.0
tinycss2==1.1.1
toml==0.10.2
tomli==1.2.3
toolz==0.11.2
tornado==6.1
tqdm==4.59.0
traitlets==5.1.1
twine==3.7.1
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
validators==0.18.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.2
zipp==3.7.0
